<h1>
    Add Items to Cart
</h1>
<form action="/cart/:id" method="POST">
    <label for="userId">UserId</label>
    <input type="text" id="userId" name="userId">
    <label for="productId">ProductId</label>
    <input type="text" id="productId" name="productId">
    <label for="name">name</label>
    <input type="text" id="name" name="name">
    <label for="quantity">quantity</label>
    <input type="text" id="quantity" name="quantity">
    <label for="price">price</label>
    <input type="text" id="price" name="price">
    <label for="bill">bill</label>
    <input type="text" id="bill" name="bill">
    <button>Submit</button>
</form>